@import-normalize; /* bring in normalize.css styles */

body {
  background: rgb(245, 245, 220);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  list-style: none;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
  border-radius: 5px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
